html {
  background-color: #c9b5ab;
  line-height: 1.5;
  color: #222;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

nav > ol {
  font-size: 1.125rem;
}

main {
  font-size: 1rem;
}

footer, aside {
  font-size: .8rem;
}

.biggerparagraph {
  font-size: 1.125rem;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
}

header, h2 {
  font-family: "PT Sans", sans-serif;
}

figcaption {
  text-align: center;
  font-size: 1rem;
}

img {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  padding-bottom: 5px;
}

blockquote:nth-of-type(1) {
  font-size: 1.5rem;
}

.nostyle {
  list-style-type: none;
}

.greekalphabet {
  list-style-type: lower-greek;
}

ul li {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}
